.profile-name {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-style: "Semibold";
    font-size: 16px;
    Line-height: 24px;
    Vertical-align: Top;
    color: #3D4750;
}

.profile-view {
    display: flex;
    flex: column;
    padding: 1em;
    justify-content: center;
    align-items: center;
}

.profile-info {
    display: flex;
    flex-direction: column;
}

.button {
    background: #F2F5F7;
    border: 1px solid #A1AEB7;
    border-radius: 6px;
}